<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="todo-form">
    <template>
        <style>
            .form, .form * {
                box-sizing: border-box;
            }
            .form {
                width: 225px;
                display: flex;
            }
            .form input {
                width: 160px;
                height: 25px;
                border: 1px solid #ccc;
                padding: 2px 6px;
                outline: none;
                border-radius: 4px 0 0 4px;
            }
            .form button {
                height: 25px;
                width: 65px;
                border: none;
                color: #fff;
                letter-spacing: 0.3px;
                background: #007bff;
                border: 1px solid #007bff;
                border-radius: 0 4px 4px 0;
                cursor: pointer;
                outline: none;
                -webkit-appearance: none;
            }
        </style>
        <form class="form" on-submit="handleSubmit">
            <input type="text"
             on-input='hiddeMessage'
             placeholder="Add a task" 
             value={{inputValue::input}}>
            <button type="submit">Send</button>
        </form>
    </template>
</dom-module>

<script>
class TodoForm extends Polymer.Element {
    static get is() {
        return 'todo-form';
    }

    static get properties() {
        return {
            inputValue: {
                type: String,
                value: '',
            },
            isRepeat: {
                type: Boolean,
                value: false,
            }
        }
    }

    handleSubmit(e) {
        e.preventDefault();

        if(!this.inputValue.trim()) {
            return;
        }

        this.dispatchEvent(new CustomEvent('input-value', {
            composed: true,
            bubbles: true,
            detail: {
                val: this.inputValue.toLowerCase(),
                completed: false,
                id: new Date().getTime(),
            }
        }));
        
        if(this.isRepeat) {
            return;
        }

        this.inputValue = "";
    }

    hiddeMessage() {
        this.dispatchEvent(new CustomEvent('hidde-message', {
            composed: true,
            bubbles: true,
        }))
    }
}

window.customElements.define(TodoForm.is, TodoForm);
</script>
    